<% provide(:title, "Users") %>

<h1> Users <h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" colspan="3">Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td ><%= user.id%></td>
                <td><%= user.name%></td>
                <td><%= user.email%></td>
                <td></td>
                <td></td>
                <td><%= link_to "User details", user %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to "New user", new_user_path %>