<% provide(:title, "User") %>

<p>
    ID:
    <%= @user.id %>
</p>
<p>
    Name:
    <%= @user.name %>
</p>
<p>
    Email:
    <%= @user.email %>
</p>

<div class="btn-group" role="group">
    <%= button_to "Back to users", users_path, method: :get, :class => "btn btn-primary"%>
    <%= button_to "Edit this user", edit_user_path(@user), method: :get, :class => "btn btn-primary"%>
    <%= button_to "Destroy this user", @user, method: :delete , :class => "btn btn-primary"%>
</div>

<br>

<div class="col-md-8">
    <% if @user.records.any? %>
        <h3>Records (<%= @user.records.count %>)</h3>
        <ol class="records">
        <%= render @records %>
        </ol>
        <%= will_paginate @records %>
    <% end %>
    </div>
</div>
