<p><%= notice %></p>

<p>
    ID:
    <%= @user.id %>
</p>
<p>
    Name:
    <%= @user.name %>
</p>
<p>
    Email:
    <%= @user.email %>
</p>

<%= link_to "Back to users", users_path %>
<%= link_to "Edit this user", edit_user_path(@user) %>
<%= button_to "Destroy this user", @user, method: :delete %>